body {background: lightskyblue;}
h1 {font-weight: bold; 
    font-size: 36px;
    color: mediumblue;
    text-align: center; }
h2 {font-wheight: bold;
    font-size: 24px;
    color: mediumblue
    text-align: center;}
p {color:blue;
   background-color: azure;
   font-size: 18px;
   text-align: justifiy;}
img {width: 200px; height:200px;}





   
